# Latitude & Longitude to Zipcode using python

In this exercise, we will use geopy to transform Latitude and Longitude data to the corresponding zipcode.

## Part 1: Obtaining the Data

In [2]:
import geopy
import pandas as pd

In [3]:
data = pd.read_csv('station_data.csv')

## Part 2: Exploring the Data

In [4]:
print('Null values:',data.isnull().sum().sum())
print('Shape:', data.shape)

Null values: 0
Shape: (76, 6)

In [7]:
data.head()

,Id,Name,Lat,Long,Dock Count,City
0,2,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,San Jose
1,3,San Jose Civic Center,37.330698,-121.888979,15,San Jose
2,4,Santa Clara at Almaden,37.333988,-121.894902,11,San Jose
3,5,Adobe on Almaden,37.331415,-121.893200,19,San Jose
4,6,San Pedro Square,37.336721,-121.894074,15,San Jose

## Part 3: Defining the Function

In [31]:
def get_zipcode(df, geolocator, lat_field, lon_field, attempt=1, max_attempts=100):
    try:
        location = geolocator.reverse((df[lat_field], df[lon_field]), timeout=None)
        return location.raw['address']['postcode']
    except KeyError:
        pass
    except GeocoderTimedOut:
        if attempt <= max_attempts:
            return get_zipcode (df, attempt=attempt+1)
        raise 
'''If error, try different user_agent'''
geolocator = geopy.Nominatim(user_agent='1234')
#geolocator = geopy.Nominatim(user_agent='check_1')

We defined except clauses in case any pair of lat-long are wrong

## Part 4: Getting zipcodes

In [32]:
lat_long = data[['Lat','Long']]

zipcodes = lat_long.apply(get_zipcode, axis=1, geolocator=geolocator, lat_field='Lat', lon_field='Long')

In [33]:
data['Zipcode']=zipcodes

In [34]:
data.head()

,Id,Name,Lat,Long,Dock Count,City,Zipcode
0,2,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,San Jose,95110
1,3,San Jose Civic Center,37.330698,-121.888979,15,San Jose,95113
2,4,Santa Clara at Almaden,37.333988,-121.894902,11,San Jose,95110
3,5,Adobe on Almaden,37.331415,-121.893200,19,San Jose,95110
4,6,San Pedro Square,37.336721,-121.894074,15,San Jose,95110

In [36]:
data['Zipcode'].isna().sum()

1

In [40]:
data.dropna(inplace=True)
data['Zipcode'].isna().sum()

0

Now we can use our zipcode data to proceed with analysis or merge with other tables.

### Thank you!